* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Norse Bold";
    src: url(fonts/Norse-Bold.otf);
}

body {
    min-height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    line-height: 1.5;
}

.wrapper {
    min-height: 100vh;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    
}

.hero-section {
    width: 37.5%;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    position: relative;
}

.hero {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 222px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero img {
    width: 100px;
    height: 130px;
}

.hero h1 {
    font-family: "Norse Bold", sans-serif;
    font-size: 75px;
}

main {
    width: 62.5%;
}

.main-head {
    height: 36%;
    background-color: #f9fafb;
    color: #111;
    font-size: 16px;
    font-weight: 600;
    padding: 180px 0 0 50px;
}

.main-head p {
    width: 550px;
    margin-bottom: 25px;
}

.form-container {
    height: 30%;
}

.main-bottom {
    height: 34%;
    background-color: #f9fafb;
}



